:root {
  --white: #fff;
  --light: #f8f9fa;
  --secondary: #6c757d;
  --dark: #343a40;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 66.73px; /* to check navbar height use developer tools of google */
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e1e;
}

body::-webkit-scrollbar-thumb {
  background: #55535e;
}

.parallax {
  /* The image used */
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.85),
      rgba(34, 34, 34, 0.85)
    ),
    url(images/hero.jpg);

  /* Set a specific height */
  height: 100vh;
  position: relative;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#body {
  font-family: "Rubik", sans-serif !important;
  /* font-family: "Rubik Mono One", sans-serif !important; */
}

.nav-link {
  display: inline-block;
  position: relative;
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--light);
  transition: background-color 0.3s ease;
  padding: 10px 16px !important;
  border-radius: 10px;
}

.nav-link:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 5px;
  bottom: 0;
  left: 0;
  border-radius: 0 0 10px 10px;
  background-color: #f8f9fa;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav-link:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.nav-link:hover {
  border-radius: 10px 10px 0 0;
  background-color: rgba(108, 117, 125, 0.5);
  color: var(--light) !important;
}

.active-link {
  border-radius: 10px;
  background-color: rgba(108, 117, 125, 0.5);
}

.navbar-toggler-icon {
  background-image: url(images/svg-logo/menu-outline.svg) !important;
  fill: white;
}

.custom-shadow {
  border: #343a40 !important;
  box-shadow: 0px 0px 25px 0px rgba(-1, -1, 0, 0.75) inset;
  -webkit-box-shadow: 0px 0px 25px 0px rgba(-1, -1, 0, 0.75) inset;
  -moz-box-shadow: 0px 0px 25px 0px rgba(-1, -1, 0, 0.75) inset;
}

.learn-more-svg {
  width: 50px;
  height: 50px;
  fill: var(--light);

  animation: slide-down 2s infinite;
  transform: translateY(20px);
  animation-direction: alternate;
}

.home-emoji {
  animation: skew 2s infinite;
  animation-direction: alternate;
}
@keyframes skew {
  0% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}

.hire-me {
  transition: 0.25s;
}

.hire-me:hover,
.hire-me:focus {
  background-color: #a8a8a8;
  transform: translateY(-0.25em);
}
.contact-me-icons {
  width: 50px;

  transition: 0.3s;
}
.name:hover {
  color: rgba(249, 129, 71, 1);
  animation: color-rotate 2s !important;
  animation-iteration-count: infinite !important;
  animation-direction: alternate !important;
}

/* Logo Animation */
#logo-image {
  width: 100px !important;
}

#logo-image:hover {
  animation: color-rotate 1s !important;
  animation-iteration-count: infinite !important;
  animation-direction: alternate !important;
}

/* Custom list bullets */
.custom-1 li {
  list-style-type: "> 😊 ";
}

/* Ripple Effect in contact */
.logo:nth-child(2) {
  transition-delay: 200ms !important;
}

.logo:nth-child(3) {
  transition-delay: 400ms !important;
}

.logo:nth-child(4) {
  transition-delay: 600ms !important;
}

.logo:nth-child(5) {
  transition-delay: 800ms !important;
}

.hidden-l {
  opacity: 0 !important;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s !important;
}

/* Ripple Effect in projects */
.projects:nth-child(2) {
  transition-delay: 400ms !important;
}

.projects:nth-child(3) {
  transition-delay: 600ms !important;
}

.hidden-l {
  opacity: 0 !important;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s !important;
}

.hidden-r {
  opacity: 0 !important;
  filter: blur(5px);
  transform: translateX(100%);
  transition: all 1s !important;
}

.show-section {
  opacity: 1 !important;
  filter: blur(0);
  transform: translateX(0);
}

/* Large Screen */
@media screen and (min-width: 960px) {
  .embed-responsive {
    height: 428px !important;
  }
}

/* Medium screen */
@media (576px <= width <= 991px) {
  .custom-1 li {
    list-style-type: none;
  }

  .active-link {
    background-color: transparent;
  }
}

/* Small and extra-small screen */
@media (width <= 575px) {
  h1 {
    font-size: 40px !important;
  }

  .name {
    display: inline-block !important;
  }

  .sub-heading {
    margin-top: 10px !important;
    font-size: 14px !important;
    line-height: 1.3 !important;
  }

  .navbar {
    background-color: var(--dark) !important;
  }

  .learn-more-svg {
    width: 25px;
    height: 25px;
    fill: var(--light);
  }

  .active-link {
    background-color: transparent;
  }
}

@keyframes color-rotate {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}

@keyframes slide-down {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(20deg);
  }
}
